@import '../../assets/variables';

.project-page{
  max-width: 1200px;
  font-family: "Poppins", sans-serif;
}

.stack{
  margin-bottom: 10px;
}
.project-title{
  font-size: 38px;
  margin-left: 16px;
}

@media (min-width: 900px) {
  .project-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 16px;
    background: $black;
    box-shadow: 4px 8px 5px rgb(12, 12, 12);
    padding: 4px;
    padding-left: 12px;
    width: 75%;
    margin: 16px;


    .project-description {
      width: 70%;

      p {
        font-weight: 400;
        font-size: 16px;
      }

      a {
        text-decoration: none;
        color: $lightBlue;
        svg {
          padding-left: 8px;
        }
      }
    }

    img {
      width: 225px;
      height: auto;
      margin-left: 30px;
    }
  }

  .daja {
    filter: brightness(0) invert(1);
  }
}
