@import '../../assets/variables';

@media (min-width: 900px) {
  .text-zone-about {
    position: absolute;
    text-align: left;
    left: 20%;
    top: 5%;
    transform: trasnlateY(-50%);
    width: 60%;
    max-height: 90%;
    color: $white;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
  }
  a:hover {
    opacity: 0.6;
  }
  .large-logo-about {
    position: absolute;
    // margin-top: 5%;
    left: 44%;
    top: 78%;
    z-index: -1;
    img {
      width: 200px;
      height: auto;
    }
  }
}
