@import '../../assets/variables';

@media (min-width: 900px) {
  .text-zone-contact {
    position: absolute;
    text-align: left;
    left: 20%;
    top: 5%;
    transform: trasnlateY(-50%);
    width: 60%;
    max-height: 90%;
    color: $black;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: "Poppins", sans-serif;
    h1 {
      font-size: 38px;
    }

    .button-div-contact {
      display: flex;
      justify-content: start;
      width: 65%;
      // margin-right: 18%;

      a {
        margin: 12px;
      }
    }

    .flat-button {
      color: #47509a;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 4px;
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid $purple;
      margin-top: 25px;
      float: left;
      transition: .2s;
      white-space: nowrap;
      border-radius: 14px;
      &:hover {
        background: $purple;
        color: white;
        opacity: 1;
      }
    }
  }
}
